# SQLite connection string
DATABASE_URL="file:./dev.db"

PORT=3000
NODE_ENV=development


# JWT Configuration
JWT_ACCESS_SECRET=access_super_secret
JWT_REFRESH_SECRET=refresh_super_secret
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d


# SMTP Configuration
SMTP_HOST=smtp.tu-proveedor.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=tu_usuario
SMTP_PASS=tu_password
SMTP_FROM="<no-reply@tu-dominio.com>"