# SQL Server connection string for Prisma
# Format: sqlserver://USER:PASSWORD@HOST:PORT;database=DB_NAME;trustServerCertificate=true
DATABASE_URL="sqlserver://localhost:1433;database=expressjs;user=lorenzo;password=987654321;trustServerCertificate=true;encrypt=true"

PORT=3000
JWT_SECRET=supersecret_change_me
NODE_ENV=development


JWT_EXPIRES_IN=7d 

SMTP_HOST=smtp.tu-proveedor.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=tu_usuario
SMTP_PASS=tu_password
SMTP_FROM="<no-reply@tu-dominio.com>"